# SRE are the generic owners.
* @rakesh-vk @abhishek-singhbhati @remi-nastase @suhas-karanthcs @mithunshivapuram-lakshmanswamy

# ta-rules - owned by the CROPS team
**/ta-rules/ @nayllani-tavares @vinodini-pyla @Eoin-Marron @Baishali-Chetia @Olivia-Cronin
